<style>

.wc
{
	background-color: black;
	color: white;
	width: calc(33.33cm / 2);
	display: inline-block;
	margin: 50px;
}

.wc div
{
	margin: 0px;
	float: left;
	background-color: black;
	width: 3.33cm;
	height: 3.33cm;
	line-height: 3.33cm;
	text-align: center;
	font-size: 80px;
	font-family: monospace;
}


</style>

<div class="wc">
<div>W</div><div>F</div><div>Ü</div><div>N</div><div>F</div>
<div>A</div><div>Z</div><div>W</div><div>A</div><div>N</div>
<div>N</div><div>P</div><div>V</div><div>I</div><div>E</div>
<div>I</div><div>N</div><div>A</div><div>C</div><div>H</div>
<div>H</div><div>A</div><div>L</div><div>B</div><div>Z</div>
</div>

<div class="wc">
<div>D</div><div>Z</div><div>E</div><div>H</div><div>N</div>
<div>Z</div><div>I</div><div>G</div><div>S</div><div>R</div>
<div>R</div><div>T</div><div>E</div><div>L</div><div>O</div>
<div>U</div><div>V</div><div>O</div><div>R</div><div>T</div>
<div>W</div><div>E</div><div>I</div><div>N</div><div>S</div>
</div>

<div class="wc">
<div>L</div><div>Z</div><div>W</div><div>Ö</div><div>L</div>
<div>S</div><div>I</div><div>E</div><div>B</div><div>E</div>
<div>B</div><div>G</div><div>E</div><div>L</div><div>F</div>
<div>M</div><div>V</div><div>I</div><div>E</div><div>R</div>
<div>G</div><div>Z</div><div>E</div><div>H</div><div>N</div>
</div>

<div class="wc">
<div>F</div><div>Ü</div><div>N</div><div>F</div><div>J</div>
<div>N</div><div>D</div><div>R</div><div>E</div><div>I</div>
<div>N</div><div>E</div><div>U</div><div>N</div><div>Y</div>
<div>A</div><div>C</div><div>H</div><div>T</div><div>F</div>
<div>S</div><div>E</div><div>C</div><div>H</div><div>S</div>
</div>

